#Header{
    text-align: center;
    font-family: 'Cookie', cursive;

    /*margin-bottom: 1em;*/
}
*{
    background: black;
    color: white;

}
body{
    margin-top: 200px;
    max-width:100%;
    max-height:100%;
    background: black;
    color: white;
}

h3{
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
}
button,.btn
{
    display: flex;

    margin: 0 auto;
}